
       <!--<label>
           <input type="radio" ng-model="Type" value="Driving" ng-change="CountEmployeesTime()">
            Répartition temps en voiture
        </label>
    <br/>
        <label>
            <input type="radio" ng-model="Type" value="Transport" ng-change="CountEmployeesTime()>
            Temps en transports en commun
        </label>
    <br/>
    <p></p>-->
    <canvas id="pie" class="chart chart-pie"
        chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
